* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Main navigation & Hero section styling */
header {
    background-image: linear-gradient(rgba(120, 99, 234, 0.3), rgba(10, 8, 8, 0.5)), url(./assets/img/Bg-img.jpg);
    height: 120vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 2rem;
    gap: 2rem;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;

    @media (max-width: 530px) {
        flex-wrap: wrap;
    }
}

.main-nav a {
    text-decoration: none;
    color: white;
}

.main-nav a:hover {
    color: rgb(40, 40, 242);
}

.main-nav a:active {
    color: rgb(40, 40, 242);
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-section h1 {
    text-transform: uppercase;
    font-size: 3rem;

    @media (max-width: 480px) {
        font-size: 2rem;
    }
}

.hero-section p {
    margin: 2rem 0;
    font-weight: 550;
    line-height: 2rem;
    font-size: 1.2rem;
    max-width: 80rem;
}

.hero-section button {
    color: white;
    background-color: #4E4FFA;
    text-align: center;
    padding: 15px 30px;
    border-style: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
}


/* Options Section (Overlaying/Second Section) Styling */
.options {
    background-color: white;
    margin: -3rem 2rem 3rem;
    padding: 0 5rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(2, 2, 2, 0.5) 0 0 10px;
    display: grid;
    color: #444A57;

    @media (min-width: 700px) {
        margin: -5rem 10rem 5rem;
    }

    @media (min-width: 1450px) {
        grid-template-columns: 85% 15%;
    }
}

.options-container {
    display: grid;
    max-width: 80vw;

    @media (max-width: 699px) and (min-width: 490px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.individual-options {
    margin-top: 3rem;
}

.options-container h4 {
    font-size: 1.1rem;
}

.options select {
    background-color: #F8F8F8;
    width: 25vw;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    padding: 12px;
    padding-right: 0;

    @media (max-width: 489px) {
        width: 35vw;
    }

    @media (min-width: 799px) {
        width: 15vw;
    }
}

.options button {
    margin-top: 2rem;
    padding: 20px 50px;
    font-size: 18px;
    background-color: #4E4FFA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-height: 4rem;
    max-width: 10rem;

    @media (min-width: 1450px) {
        margin-top: 120px;
    }
}


/* Third Section Styling */
.cards {
    margin: 3rem 2rem 5rem;
    display: flex;
    gap: 30px;
    text-align: center;

    @media (min-width: 1515px) {
        margin: 5rem 10rem 8rem;
    }

    @media (max-width: 1514px) {
        flex-wrap: wrap;
    }
}

.cards h3 {
    margin: 20px;
}

.cards .unit-card {
    border: #444A57 0.1px solid;
    height: 25rem;
    border-radius: 3px;
    color: #444A57;
}

.cards img {
    margin-top: 4rem;
}

.cards p {
    text-align: center;
    padding: 0 10px;
}

.unit-card:hover {
    background-color: #4E4FFA;
    color: white;
    transition-duration: 0.4s;
}

.unit-card .line-style {
    background-color: #4E4FFA;
    color: #4E4FFA;
    width: 5vw;
    height: 3px;
    display: inline-block;
}

.unit-card .line-style:hover {
    background-color: white;
    color: white;
}


/* Fourth Section (Newest Cars Section) Styling */
.latest-cars-section {
    background-color: #F8F9FB;
    color: #444A57;
}

.latest-cars-section .heading {
    text-align: center;
    padding-top: 5rem;
}

.latest-cars-section .heading h3 {
    font-size: 2.1rem;
    margin-top: 16px;
}

.latest-cars-section .empty-div {
    background-color: #4E4FFA;
    color: #4E4FFA;
    height: 2px;
    margin: 2rem 50rem;
}

.grid {
    display: grid;
    gap: 70px;

    @media (max-width: 1499px) {
        padding: 5rem 2rem 10rem;
    }

    @media (min-width: 1500px) {
        grid-template-columns: 1fr 1fr;
        padding: 5rem 11rem 10rem;
    }
}

@media (max-width: 1499px) {
    .grid div {
        max-width: 70vw;
    }
}

.grid img {
    max-width: 100%;
}

.latest-cars-section .grid h3 {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.latest-cars-section .grid p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.latest-cars-section .grid button {
    padding: 20px 40px;
    border: none;
    background-color: #4E4FFA;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}


/* Fifth Section (Featured Cars Section) Styling*/

.featured-cars {
    color: #444A57;
}

.featured-cars .heading {
    text-align: center;
    padding-top: 5rem;
}

.featured-cars .heading h3 {
    font-size: 2.1rem;
    margin-top: 16px;
}

.featured-cars .empty-div {
    background-color: #4E4FFA;
    color: #4E4FFA;
    height: 2px;
    margin: 2rem 50rem;
}

.featured-cars .cards-container {
    padding: 5rem 2rem;
    display: grid;
    gap: 35px;

    @media (max-width: 1249px) and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        padding: 5rem 3rem;
    }

    @media (max-width: 1499px) and (min-width: 1250px) {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5rem 3rem;
    }

    @media (min-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 5rem 11rem 10rem;
    }
}

.featured-cars .cards-container .individual-cards {
    margin-bottom: 3rem;

    @media (max-width: 768px) and (min-width: 615px) {
        width: 50vw;
    }

    @media (max-width: 614px) and (min-width: 585px) {
        width: 50vw;
    }
}

.featured-cars .cards-container .individual-cards .car-border {
    border: #444A57 0.1px solid;
    margin-bottom: 2rem;
}

.featured-cars .cards-container img {
    padding: 4rem 3rem;
    height: 225px;
    max-width: 100%;
}

.featured-cars .cards-container .exception {
    padding: 3.3rem;
}

.featured-cars .cards-container .inside-box {
    padding: 1rem;
    line-height: 1.5;
    font-size: 14px;
}

.featured-cars .cards-container h4 {
    font-family: Verdana;
    margin-bottom: 1rem;
}

.featured-cars .cards-container .individual-cards .outside-box {
    margin-top: 10px;
}


/* Sixth Section (Clients Reviews Section) Styling */
.clients-reviews {
    background-color: #F8F9FB;
    color: #444A57;
    text-align: center;
}

.clients-reviews .heading {
    text-align: center;
    padding-top: 5rem;
}

.clients-reviews .heading h3 {
    text-transform: uppercase;
    font-size: 2rem;
}

.clients-reviews .empty-div {
    background-color: #4E4FFA;
    color: #4E4FFA;
    height: 2px;
    margin: 2rem 50rem;
}

.clients-reviews .cards-container {
    display: grid;
    gap: 2rem;
    margin: 2rem;

    @media (max-width: 530px) {
        padding: 3rem 2rem 4rem;
    }

    @media (max-width: 768px) {
        padding: 4rem 3rem 5rem;
    }

    @media (max-width: 1549px) and (min-width: 1100px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1550px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.clients-reviews .cards-container .individual-cards {
    border: 0.1px #444A57 solid;
    padding: 3rem 2.9rem 5rem;
}

.clients-reviews .cards-container .individual-cards:hover {
    background-color: #4E4FFA;
    color: white;
}

.clients-reviews .cards-container .individual-cards img {
    margin-bottom: 2.2rem;
}

.clients-reviews .cards-container .individual-cards p {
    margin-bottom: 1.5rem;
    line-height: 1.7;
}

.clients-reviews .cards-container .individual-cards h4 {
    text-align: center;
}

.clients-reviews .cards-container .individual-cards .city {
    margin-top: 10px;
}


/* Brands Section (Seventh Section) Styling */
.brands {
    display: flex;
    gap: 5rem;
    padding: 2rem;

    @media (min-width: 1500px) {
        padding: 8rem 14rem;
    }

    @media (max-width: 1450px) {
        flex-wrap: wrap;
    }
}


/* Footer Styling */
footer {
    padding: 5rem 10rem;
    background-color: #2A2D54;
    color: white;

    @media (max-width: 600px) {
        padding: 3rem;
    }
}

.flex-container {
    display: flex;
    gap: 3rem;
    margin-bottom: 10rem;

    @media (max-width: 1300px) {
        flex-wrap: wrap;
    }
}

.flex-container h2 {
    margin-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.flex-container h4 {
    margin-bottom: 3rem;
    text-transform: uppercase;
    width: 18rem;
    font-weight: 500;
}

.flex-container p {
    line-height: 1.8;
    margin-bottom: 2rem;
    font-size: 14px;
}

.flex-container li {
    margin-bottom: 10px;
    list-style: none;
    font-size: 14px;
}

.flex-container a {
    text-decoration: none;
    color: white;
}

.flex-container .flex-lists {
    display: flex;
    gap: 4rem;
}

.flex-container .flex-lists li {
    margin-bottom: 20px;
}

.flex-container button {
    background-color: #303357;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: rgba(2, 2, 2, 0.5) 0 0 5px;
     cursor: pointer;
}

.Copyright {
    margin-top: 1.3rem;
    font-size: 14px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    @media (max-width: 560px) {
        flex-wrap: wrap;
    }
}

.contact-icons {
    display: flex;
    gap: 5px;
}

.Copyright a {
    color: rgb(204, 113, 204);
}

footer .contact-icons svg {
    background-color: gray;
    padding: 3px;
    border-radius: 5px;
}