* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Main navigation & Hero section styling */
header {
    background-image: linear-gradient(rgba(120, 99, 234, 0.3), rgba(10, 8, 8, 0.5)), url(./assets/img/Bg-img.jpg);
    height: 120vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2rem 15rem;
}

.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.main-nav a {
    text-decoration: none;
    color: white;
}

.main-nav a:hover {
    color: rgb(40, 40, 242);
}

.main-nav a:active {
    color: rgb(40, 40, 242);
}

.hero-section {
    text-align: center;
    color: white;
    padding: 20rem;
}

.hero-section h1 {
    text-transform: uppercase;
    font-size: 3rem;
    width: 63vw;
    text-align: center;
}

.hero-section p {
    margin: 2rem 0;
    font-weight: 550;
    line-height: 2rem;
    font-size: 1.2rem;
    max-width: 80rem;
}

.hero-section button {
    color: white;
    background-color: #4E4FFA;
    text-align: center;
    padding: 15px 30px;
    border-style: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
}


/* Options Section (Second Section) Styling */
.options {
    background-color: white;
    margin: -5rem 10rem 5rem;
    padding: 0 5rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(2, 2, 2, 0.5) 0 0 10px;
    display: grid;
    grid-template-columns: 85% 15%;
    color: #444A57;
}

.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.individual-options {
    margin-top: 3rem;
}

.options-container h4 {
    font-size: 1.1rem;
}

.options select {
    background-color: #F8F8F8;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    padding: 12px;
    padding-right: 0;
}

.options button {
    margin-top: 120px;
    padding: 20px 50px;
    font-size: 18px;
    background-color: #4E4FFA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-height: 4rem;
    max-width: 10rem;
}


/* Third Section Styling */
.cards {
    margin: 5rem 10rem 8rem;
    display: flex;
    gap: 30px;
    text-align: center;
}

.cards h3 {
    margin: 20px;
}

.cards .unit-card {
    border: #444A57 0.1px solid;
    height: 25rem;
    border-radius: 3px;
    color: #444A57;
}

.cards img {
    margin-top: 4rem;
}

.cards p {
    text-align: center;
    padding: 0 10px;
}

.unit-card:hover {
    background-color: #4E4FFA;
    color: white;
}

.unit-card .line-style {
    background-color: #4E4FFA;
    color: #4E4FFA;
    margin: 2rem 13rem;
    height: 3px;
}

.unit-card .line-style:hover {
    background-color: white;
    color: white;
}


/* Fourth Section (Latest Cars Section) Styling */
.latest-cars-section {
    background-color: #F8F9FB;
    color: #444A57;
}

.latest-cars-section .heading {
    text-align: center;
    padding-top: 5rem;
}

.latest-cars-section .heading h3 {
    font-size: 2.1rem;
    margin-top: 16px;
}

.latest-cars-section .empty-div {
    background-color: #4E4FFA;
    color: #4E4FFA;
    height: 2px;
    margin: 2rem 50rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 11rem 10rem;
    gap: 70px;
}

.latest-cars-section .grid h3 {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.latest-cars-section .grid p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.latest-cars-section .grid button {
    padding: 20px 40px;
    border: none;
    background-color: #4E4FFA;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}


/* Fifth Section (Featured Cars Section) Styling*/

.featured-cars {
    color: #444A57;
}

.featured-cars .heading {
    text-align: center;
    padding-top: 5rem;
}

.featured-cars .heading h3 {
    font-size: 2.1rem;
    margin-top: 16px;
}

.featured-cars .empty-div {
    background-color: #4E4FFA;
    color: #4E4FFA;
    height: 2px;
    margin: 2rem 50rem;
}

.featured-cars .cards-container {
    padding: 5rem 11rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
}

.featured-cars .cards-container .individual-cards {
    margin-bottom: 3rem;
}

.featured-cars .cards-container .individual-cards .car-border {
    border: #444A57 0.1px solid;
    margin-bottom: 2rem;
}

.featured-cars .cards-container img {
    padding: 4rem 3rem;
    height: 225px;
}

.featured-cars .cards-container .exception {
    padding: 3.3rem;
}

.featured-cars .cards-container .inside-box {
    padding: 1rem;
    line-height: 1.5;
    font-size: 14px;
}

.featured-cars .cards-container h4 {
    font-family: Verdana;
    margin-bottom: 1rem;
}

.featured-cars .cards-container .individual-cards .outside-box {
    margin-top: 10px;
}


/* Sixth Section (Clients Reviews Section) Styling */
.clients-reviews {
    background-color: #F8F9FB;
    color: #444A57;
}

.clients-reviews .heading {
    text-align: center;
    padding-top: 5rem;
}

.clients-reviews .heading h3 {
    text-transform: uppercase;
    font-size: 2rem;
}

.clients-reviews .empty-div {
    background-color: #4E4FFA;
    color: #4E4FFA;
    height: 2px;
    margin: 2rem 50rem;
}

.clients-reviews .cards-container {
    padding: 5rem 11rem 10rem;
    display: flex;
    gap: 2rem;
}

.clients-reviews .cards-container .individual-cards {
    border: 0.1px #444A57 solid;
    height: 25rem;
    padding: 3rem 2.9rem 5rem;
}

.clients-reviews .cards-container .individual-cards:hover {
    background-color: #4E4FFA;
    color: white;
}

.clients-reviews .cards-container .individual-cards img {
    margin-bottom: 2.2rem;
    padding: 0 8rem;
}

.clients-reviews .cards-container .individual-cards p {
    margin-bottom: 1.5rem;
    line-height: 1.7;
}

.clients-reviews .cards-container .individual-cards h4 {
    text-align: center;
}

.clients-reviews .cards-container .individual-cards .city {
    margin-top: 10px;
}


/* Brands Section (Seventh Section) Styling */
.brands {
    padding: 8rem 14rem;
    display: flex;
    gap: 5rem;
}